html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-image: url('/img/field.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 350px;
    padding-bottom: 35px;
    border: solid, 5px, black;
    width: 35vw;
}

h1 {
    color:rgb(186, 45, 66);
    font-style: oblique;
}

#btnReestablecer {
    background-color: #E63946; 
    color: white; 
    padding: 10px 20px; 
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(230, 57, 70, 0.3);
    transition: all 0.3s ease;
}

#btnReestablecer:hover {
    background-color: #BA2D41; 
    box-shadow: 0px 6px 8px rgba(186, 45, 65, 0.4);
}

#btnReestablecer:active {
    background-color: #8E1F2E;
    transform: translateY(0); 
    box-shadow: 0px 3px 4px rgba(142, 31, 46, 0.5);
}